//mobile view
//modal pop up
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("./images/hyde-bg.JPG");
}
body,
p,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Andale Mono, AndaleMono, monospace;
}

.logo {
  margin-bottom: 1rem;
  margin-top: 2rem;

  p {
    animation: animate 2s ease-in-out infinite;
    font-style: italic;

    text-align: center;
  }

  img {
    width: 7rem;
    padding: 2rem;
    height: 7rem;
    animation: animate 4s ease-in-out infinite;
  }
}

@for $x from 1 through 2 {
  .logo:nth-child(#{$x}) {
    transition-delay: 0.35s * $x;
  }
}

.main {
  font-family: Andale Mono, AndaleMono, monospace;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  animation: main 1s linear;
}

@keyframes main {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-box {
  position: relative;
  margin-top: 60px;
  font-family: Andale Mono, AndaleMono, monospace;

  input[type="text"] {
    display: inline-block;
    font-family: Andale Mono, AndaleMono, monospace;
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
  }

  .button-register,
  input[type="button"] {
    display: inline-block;
    font-family: Andale Mono, AndaleMono, monospace;

    width: 500px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;

    transition: all 0.1s ease-out;
  }
  ::placeholder {
    font-family: Andale Mono, AndaleMono, monospace;
  }
  input[type="text"] + label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    font-family: Andale Mono, AndaleMono, monospace;
    color: white;
    border-radius: 3px 0 0 3px;
    padding: 0 20px;
    background: #490b4c;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }

  input[type="text"]:focus + label {
    transform: translateY(-105%) translateX(0%);
    border-radius: 3px;
    transition: all 0.1s ease-out;
  }

  input[type="button"]:hover {
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
    background-color: #ac299f;
    color: #fff;
    transform: scale(1.07);
  }
}

footer {
  color: #ef37dc;
  text-align: center;
  background-color: #490b4c;
  position: absolute;
  bottom: 0;
  width: 100%;
}

//Modal Pop Up
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.3);
  transition: visibility 0s linear 0.75s, opacity 0.75s 0s, transform 0.75s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  box-shadow: 15px 15px 15px rgba(68, 68, 68, 0.6);
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  color: #490b4c;
  text-align: center;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

@media only screen and (max-width: 576px) {
  .welcome-text {
    text-align: center;
    // padding: 0.5rem;
  }

  .form {
    input[type="text"] {
      width: 100%;
    }
    input[type="button"] {
      width: 100%;
    }
  }
  .modal {
    .modal-content {
      width: 50%;
    }
  }
}
